<div class="artist-search">
    {{#each items}}
    <div class="cards-artist">
    <img src="{{ images.1.url}}" alt="{{name}}" >   
    <div class="h2-a">
        <h2>{{ name }}</h2>
        <a href="/albums/{{id}}">View Album</a>
     </div>
    </div>
    {{/each}}
</div>