<div>
    {{#each items}}
        <h2>name: {{ name }}</h2>
        <a href="/albums/{{id}}">View Album</a>
        {{#each images}}
        <p>
           <img src="{{url}}" alt="{{name}}" >
        </p>
    {{/each}}
    {{/each}}
</div>